{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="{% static '/PersonalWebsite/urlShortener/css/styles.css' %}">
</head>
    <body>
        <div id="url-shortener-outmost-box">
            <div id="url-shortener-outer-box" class="box outer-box">
                <div id="url-shortener-top-box" class="box inner-box">
                    <h1 id="url-shortener-header" class="deepest-element">URL Shortener</h1>
                </div>
                <div id="url-shortener-mid-box" class="box inner-box">
                    <input id="url-shortener-input" type="text" class="deepest-element" placeholder="Enter URL">
                </div>
                <div id="url-shortener-bottom-box" class="box inner-box">
                    <button id="url-shortener-button" class="deepest-element"><span>Shorten</span></button>
                </div>
            </div>
            <div id="url-shortener-output-outer-box" class="box outer-box">
                <h1 id="url-shortener-output-inner-box" class="box inner-box">
                    <a id="url-shortener-output"></a>
                </h1>
            </div>
        </div>
        <div id="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
        <span id="uid" class="hidden">{{ uid }}</span>
        <span id="root-url" class="hidden">{{ root_url }}</span>
        <form method='POST' action='' class="hidden">
            {% csrf_token %}
            <input id="url-shortener-input-mirror" name='input-url' type="text">
            <input id="url-shortener-button-mirror" type='submit' name='Create User'>
        </form>
        <script src="{% static '/PersonalWebsite/urlShortener/src/index.js' %}"></script>
    </body>
</html>
