{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="{% static '/PersonalWebsite/urlShortener/css/styles.css' %}">
</head>
    <body>
        <div id="url-shortener-outmost-box">
            <form id="url-shortener-outer-box" class="box outer-box">
                {% csrf_token %}
                <div id="url-shortener-top-box" class="box inner-box">
                    <h1 id="url-shortener-header" class="deepest-element">URL Shortener</h1>
                </div>
                <div id="url-shortener-mid-box" class="box inner-box">
                    <input id="url-shortener-input" type="text" class="deepest-element" placeholder="Enter URL">
                </div>
                <div id="url-shortener-bottom-box" class="box inner-box">
                    <button id="url-shortener-button" type="submit" class="deepest-element"><span>Shorten</span></button>
                </div>
            </form>
            <div id="url-shortener-output-outer-box" class="box outer-box">
                <h3 id="url-shortener-output-inner-box" class="box inner-box parent-to-center">
                    <a id="url-shortener-output" class="child-to-center"></a>
                </h3>
                <!-- <div id="clipboard-container" class="box inner-box deepest-element parent-to-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-clipboard child-to-center" viewBox="0 0 16 16">
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                </div> -->
            </div>
        </div>
        <div id="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
        <script src="{% static '/PersonalWebsite/urlShortener/src/index.js' %}"></script>
    </body>
</html>
