{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Online</title>
    <link rel="stylesheet" href='{% static "/PersonalWebsite/pong/css/styles.css" %}'>
</head>
<body>
    <canvas id='gameScreen'></canvas>
    {{ room_name|json_script:"room-name" }}
    <script type='module' src='{% static "/PersonalWebsite/pong/src/index.js" %}'></script>
</body>
</html>
